body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header nav {
    display: flex;
    justify-content: center;
}
header nav a {
    color: #333333;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #8bc0d6; /* azul claro */
    transition: background-color 0.3s ease;
}
header nav a:hover {
    background-color: #5a92a5; /* azul mais escuro ao passar o mouse */
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
.content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
}
form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}
form input[type="submit"] {
    background-color: #8bc0d6; /* azul claro */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form input[type="submit"]:hover {
    background-color: #5a92a5; /* azul mais escuro ao passar o mouse */
}